<h1>A trip</h1>

<ul>
  <li><%= @trip.origin %></li>
  <li><%= @trip.destination %></li>
  <li><%= @trip.days %></li>
  <li><%= @trip.time_period %></li>
</ul>

<%= link_to 'All trips', trips_path %>

    